# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# IDE
.idea/
.vscode/

# Pytest
.pytest_cache/

# Reports
reports/
allure-results/
allure-report/

# OS Files
.DS_Store
Thumbs.db